@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0 auto;
}


/* сбрасываем заголовки, списки, картинки --------------------------------*/

html,
body {
    font-family: Montserrat;
    color: #070707;
    font-weight: 500;
    background: #44475A;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: inherit;
    font-size: inherit;
}

ul,
ol,
li {
    list-style: none;
}


/*убираем декорейшн ссылок --------------------------------------------- */

a {
    text-decoration: none;
}


/* PAGE________________________________________________ */

.container {
    margin: 0 auto;
    width: 1440px;
    overflow: hidden;
    background: #44475A;
    overflow: hidden;
}


/* HEADER________________________________________________ */

.header__menu {
    font-size: 18px;
    line-height: 22px;
    /* Black */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 47px 323px 24px 276px;
}

.menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* Links inside the navbar */


/* .menu__list a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
}


/* Change background on mouse-over */

.menu__list a:hover {
    background: #44475a;
    color: #44475a;
}

*/ .menu__item {
    display: flex;
    flex-direction: row;
}

.menu__link {
    display: flex;
    flex-direction: row;
}

.header__info {
    display: flex;
    flex-direction: row;
}

.header__description {
    display: flex;
    flex-direction: column;
    margin: 32px 89px 67px 319px;
    font-size: 48px;
    width: 373px;
}

.header__profession {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 900;
    width: 136px;
    margin: 39px 99px 120px 2px;
}

.header__image {
    display: flex;
    overflow: hidden;
    width: 140%;
    margin: 17px 330px 120px 1px;
}

.header__img {
    display: flex;
    flex-direction: row;
    mix-blend-mode: luminosity;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}


/* MAIN________________________________________________ */

.main__content {}

.container {}


/* SECTION_ABOUT________________________________________________ */

.about__information {
    display: flex;
    margin: 0px 325px;
}

.about__left-column {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px 10px 10px 1px;
    line-height: 30px;
}

.about__item {}

.item__me {}

.title__me {
    font-size: 34px;
    font-weight: 400;
    line-height: 2;
}

.description__me {}

.education__item {}

.item__education {}

.description__education {}

.languages__item {}

.item__languages {}

.description__languages {}

.about__right-column {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px 10px 10px 10px;
    line-height: 30px;
}

.intrest__item {}

.item__intrest {}

.title__intrest {
    line-height: 2;
    font-size: 34px;
    font-weight: 400;
}

.description__intrest {}

.books__item {}

.item__books {}

.title__books {
    font-size: 34px;
    font-weight: 400;
}

.description__books {}

.exp__item {}

.item__exp {}

.title__exp {
    font-size: 34px;
    font-weight: 400;
}

.description__exp {}


/* SECTION_SKILLS ________________________________________________ */

.skills__information {
    display: flex;
    flex-direction: column;
}

.skills__title {
    font-size: 34px;
    font-weight: 400;
    margin: 30px auto;
}

.item__skills-title {
    margin: 10px;
}

.tech__skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px 280px;
}

.tech__skills-item {}

.logoTech {
    margin: 10px 0px;
}

.logoTechJS {
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
}

.code__information {
    display: flex;
    flex-direction: column;
}

.code__title {
    font-size: 34px;
    font-weight: 400;
    margin: 30px auto;
}

.code__description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0px 200px 30px 290px;
}

.code__example {}


/* SECTION_PORTFOLIO ________________________________________________ */

.portfolio {
    display: flex;
    flex-direction: column;
}

.portfolio__title {
    font-size: 34px;
    font-weight: 400;
    margin: 30px auto;
}

.portfolio__list {}

.portfolio-items {
    display: flex;
    flex-direction: column;
}

.project__title {
    font-weight: 400;
    margin: 30px auto;
}

.project__img {}

.project__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 30px 200px 30px 290px;
}


/* FOOTER________________________________________________ */

.footer {}

.container {}


/* SECTION_PORTFOLIO ______________________________________________ */

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts__title {
    font-size: 34px;
    font-weight: 400;
    margin: 30px auto;
}

.contacts__description {
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    margin: 30px auto;
    justify-content: center;
}

.contact__list {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 10px 500px 50px 500px;
}

.contact__item {}

.icon__contact {}

.contact__icons {}

.contacts__icon {}


/* SECTION_LOGO ______________________________________________ */

.logo__item {
    display: flex;
    flex-direction: column;
}

.footer__title {
    font-size: 34px;
    font-weight: 400;
    margin: 30px auto;
}

.items__list-logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.item__list-content {
    margin: 10px 20px 10px 20px;
}

.logo__url {}

.logo__img {}